<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Channel chatting page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/override.css" />
</head>
<body>
<p style="height: 20px;">
    chatting windows are followings...
</p>
<div class="channel-from container-fluid">
    <div class="left-menu col-xs-2">
        <div class="chan-header row">
            채널목록
        </div>
        <div class="chan-list row">
            <ul class="chan-list-item">
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <form name="chatView">
            <div class="row contents-header">
                <div class="pull-right optionals btn">
                    chat status and options are here..
                </div>
            </div>
            <div class="row contents-body">
                <div id="contents" class="contents">
                    messages are here...
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-default col-xs-1">attachment +</button>
                <div class="col-xs-10 message-input">
                    <input id="message" type="text" name="message" class="form-control" placeholder="messages here" value="" />
                </div>
                <input type="submit" id="chat-send" class="btn btn-danger col-xs-1" value="Send" />
            </div>
        </form>
    </div>
</div>
<!-- scripts files from here-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="http://ichord.github.io/Caret.js/src/jquery.caret.js"></script>
<script src="http://ichord.github.io/At.js/dist/js/jquery.atwho.js"></script>
<script src="/js/app.js"></script>
<!-- scripts files end here-->
</body>
</html>
