<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Channel chatting page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <style>
        .channel-from .contents-body {
            border: 1px solid gray;
            height: 300px;
        }
        .channel-from .contents-body:focus {
            outline: none !important;
            border: 1px solid darkorange;
        }
        .channel-from input {
            height: 35px;
            font-size: 1.3em;
        }
        .channel-from .contents-header {
            background-color: lightgray;
        }

    </style>
</head>
<body>
<p style="height: 20px;">
    chatting windows are followings...
</p>
<div class="channel-from container-fluid">
    <form onsubmit="return false">
        <div class="row contents-header">
            <div class="pull-right optionals btn">
                chat status and options are here..
            </div>
        </div>
        <div class="row contents-body">
            <div id="contents" class="contents">
                messages are here...
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default col-xs-1">attachment +</button>
            <input id="message" type="text" name="message" class="col-xs-10" placeholder="messages here" value="" />
            <button id="chat-send" class="btn btn-danger col-xs-1">send</button>
        </div>
    </form>
</div>
<!-- scripts files from here-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="app.js"></script>
<!-- scripts files end here-->
<script>
    // preparings...
    var user = { id: "javajigi" };
    $.ajax({
        url: "//messages"
        })
        .done(function( data ) {

        });
    //...

    $("#chat-send").on("click", function(){
        submit();
    });
    function submit(){
        return false;
    }
</script>
</body>
</html>
