.channel-from .contents-body {
    border: 1px solid gray;
    height: 300px;
}

.channel-from .contents-body .user-id{
    min-width: 100px;
}
.channel-from .contents-body .info {
    font-weight: normal !important;
    color: goldenrod;
}
.channel-from .contents-body:focus {
    outline: none !important;
    border: 1px solid darkorange;
}
.channel-from input {
    height: 35px;
    font-size: 1.3em;
}
.channel-from .contents-header {
    background-color: lightgray;
}
.channel-from .message-input {
    padding-left: 0;
    padding-right: 0;
}
